* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
}


h1 {
    color: #8923bf;
}
table {
    border-collapse: collapse;
}
th, td {
    border: solid 1px #000000;
}

button {
    border: solid 1px #000000;
}